---
import { Image } from 'astro:assets';
import Button from "../generics/Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
  heroTItle: string;
  heroImagePath: ImageMetadata;
  heroImageAlt: string;
  heroBtnText?: string;
  heroBtnLink: string;
  heroBtnText2?: string;
  heroBtnLink2?: string;
}

// this is a component that shows a hero image and a title
// and a button to a link

const { heroTItle, heroImagePath, heroImageAlt, heroBtnText, heroBtnLink, heroBtnLink2, heroBtnText2 } = Astro.props;
---
<div class="max-w-md bg-gradient-to-tr from-violet-400 to-teal-200 rounded-lg md:shadow-md glass">
    <Image
        src={heroImagePath} width={600} height={600}
        alt={"Imágen de " + heroImageAlt}
        class="fade-left object-fill" loading="eager"

    />
        
</div>
<div class="max-w-md bg-base-100 relative -top-20 md:static">
    { heroTItle === "Bienvenid@s" && (
            <div class="flex flex-col justify-start items-start">
                <span class="text-pink-700 text-sm"><Icon is:inline  title="icono dev" name="mdidev" class="size-5 inline"/> Aún en desarrollo</span>
                <span class="text-pink-600 text-sm"><Icon is:inline  title="icono info" name="mdiinfo" class="size-5 inline"/> Por el momento sólo algunas localidades del AMBA</span>
            </div>
        )
    }
    <h1 class="text-5xl md:text-6xl tracking-tighter font-bold text-indigo-900 break-words">
        {heroTItle}
    </h1>
    <div class="divider"></div>
    <p class="py-6 text-xl text-gray-600 font-normal">
        <slot/>
    </p>
    <Button type="btn" path={heroBtnLink} className="shadow-lg bg-indigo-300">
        {heroBtnText}
    </Button>
    {
        heroTItle === "Atípico + Social" ? <Button type="btn" path={heroBtnLink2} className="shadow-lg bg-indigo-300">{heroBtnText2}</Button> : null
    }
</div>
